{% extends "index.html" %}
{% block content %}
<!-- EDIT FORM MODAL -->
<div tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Item</h4>
            </div>
            <div class="modal-body">
                <div class="reservation-form">
                    <form action="{{url_for('editmenu', restaurant_id=restaurant.id, menu_id=menuitem.id)}}"
                          method="POST" class="table-booking-form">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <dt style="color: #0b0b0b;" for="name"><i></i> Name:</dt>
                                <input type="text" name="name" id="name" value="{{menuitem.name}}">
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <dt style="color: #0b0b0b"><i></i>Price:</dt>
                                <input type="text" name="price" id="price" value="{{menuitem.price}}">
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                 <dt style="color: #0b0b0b">Course:</dt>
                                    <select name="course">
                                        <dd><option value='Appetizer'>Appetizer</option></dd>
                                        <dd><option value='Entree'>Entree</option></dd>
                                        <dd><option selected value='Dessert'>Dessert</option></dd>
                                        <dd><option value='Beverage'>Beverage</option></dd>
                                    </select>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <dt style="color: #0b0b0b"><i>Description: </i></dt>
                                <textarea type="text" rows="5" cols="30" name="description" id="description"
                                          placeholder="{{menuitem.description}}"></textarea>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-sm-offset-3  col-md-offset-3  col-lg-offset-3 col-xs-12">
                                <button type="submit">Update</button>
                                <a href="{{url_for('menu', restaurant_id=restaurant.id)}}"><button type="submit">Cancel</button></a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EDIT FORM MODAL -->
{% endblock %}
{% block footer %}
{% endblock %}
