{% extends "index.html" %}

<body>
{% block content %}
<header class="top-area" id="home">
        <div class="header-top-area">

            <!--MAINMENU AREA-->
            <div class="mainmenu-area" id="mainmenu-area">
                <div class="mainmenu-area-bg"></div>
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#home" class="navbar-brand"><img src="{{url_for('static', filename='img/main_logo_black.png')}}" alt="logo"></a>
                            <a href="#home" class="navbar-brand white"><img src="{{url_for('static', filename='img/main_logo.png')}}" alt="logo"></a>
                        </div>
                        <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                            <div class="search-form-area">
                                <div class="search-form-overlay"></div>
                                <a class="search-form-trigger" href="#search-form">Search<span></span></a>
                                <div id="search-form" class="search-form">
                                    <form>
                                        <input type="search" placeholder="Search...">
                                    </form>
                                </div>
                            </div>
                            <ul id="nav" class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a> </li>
                                <li><a href="#promotion">Offer</a></li>
                                <li><a href="#menu">Menu</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!--END MAINMENU AREA END-->
        </div>

        <!--SPEACIAL PROMOTIONS AREA-->
    <section class="promotions-area section-padding" id="promotion">
        <div class="promotion-area-bg" data-stellar-background-ratio="0.6"></div>
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center">
                        <h2>{{restaurant.name}} Restaurant</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="menu-discount-offer col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="single-promotions">
                        <div class="promotions-img">
                            <img src="../static/css/img/promotions/promo_slide_1.jpg" alt="">
                        </div>
                        <div class="promotions-details">
                            <h3>40% off for 9'' - 12'' pizza - Wed, Thu, Friday only</h3>
                            <p>Pizza 12 inch + 1 Side Dish + 1,5L Coke Bottle Only From 209,000</p>
                            <a href="{{url_for('newmenu', restaurant_id = restaurant.id)}}" class="read-more">Add New Menu</a>
                        </div>
                    </div>
                    <div class="single-promotions">
                        <div class="promotions-img">
                            <img src="../static/css/img/promotions/promo_slide_2.jpg" alt="">
                        </div>
                        <div class="promotions-details">
                            <h3>40% off for 9'' - 12'' pizza - Wed, Thu, Friday only</h3>
                            <p>Pizza 12 inch + 1 Side Dish + 1,5L Coke Bottle Only From 209,000</p>
                            <a href="{{url_for('newmenu', restaurant_id = restaurant.id)}}" class="read-more">Add New Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SPEACIAL PROMOTIONS AREA END-->

    </header>
    <!--END TOP AREA-->

<!--MENUS AREA-->
<section class="menus-area section-padding" id="menu">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Today’s menu</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="food-menu-list-menu">
                    <ul>
                        <li class="filter active" data-filter="all">All</li>
                        <li class="filter" data-filter=".Entree">Entree</li>
                        <li class="filter" data-filter=".Appetizer">Appetizer</li>
                        <li class="filter" data-filter=".Beverage">Beverage</li>
                        <li class="filter" data-filter=".Coffee">Coffe</li>
                        <li class="filter" data-filter=".Snacks">Snacks</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row food-menu-list">
            {% for item in menu %}
            <div class="mix col-md-6 col-lg-6 col-sm-12 col-xs-12 single-menu {{item.course}} coffee snacks">
                <div class="single-menu-details">
                    <div class="food-menu-img"><img src="../static/css/img/menu/menu_2.jpg" alt=""></div>
                    <div class="food-menu-details">
                        <h3>{{item.name}}<span class="menu-price">{{item.price}}</span></h3>
                        <p class="menu-speacification">{{item.description}}</p>
                        <h3><a href="{{url_for('editmenu', restaurant_id = restaurant.id, menu_id = item.id)}}">Edit</a>
                        <a href="{{url_for('deletemenu', restaurant_id = restaurant.id, menu_id = item.id)}}">Delete</a></h3>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}
<!--MENUS AREA END-->
</body>


